@model IEnumerable<WebAppPB2___Breno_nogueira__.Models.Evento>

@{
    ViewBag.Title = "Eventos";
}

<h2>Lista de Eventos</h2>

<p>
    @Html.ActionLink("Adicionar Novo Evento", "Create")
</p>

@if (TempData["MensagemC"] != null)
{
    <p class="alert-success">@TempData["MensagemC"]</p>
}
@if (TempData["MensagemU"] != null)
{
    <p class="alert-warning">@TempData["MensagemU"]</p>
}
@if (TempData["MensagemD"] != null)
{
    <p class="alert-danger">@TempData["MensagemD"]</p>
}


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>

                <th></th>
            </tr>
        </thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</tbody>
    </table>



@section scripts {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

       $(document).ready(function () {

           $('table').dataTable({

               "order": [[2, "asc"]],

               "language": {

                   "url": "@Url.Content("~/scripts")/PTBR.json"

               }

           });

       });

    </script>

}