@model PagedList.IPagedList<WebAppPB2___Breno_nogueira__.Models.Evento>
@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Eventos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo Evento", "Create")
</p>

@if (TempData["MensagemC"] != null)
{
    <p class="alert-success">@TempData["Mensagem"]</p>
}
@if (TempData["MensagemU"] != null)
{
    <p class="alert-warning">@TempData["Mensagem2"]</p>
}
@if (TempData["MensagemD"] != null)
{
    <p class="alert-danger">@TempData["Mensagem3"]</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Titulo", "Index", new { ordenacao = ViewBag.TituloParam })
        </th>
        <th>
            @Html.ActionLink("Descrição", "Index", new { ordenacao = ViewBag.DescricaoParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

Página @Model.PageNumber de @Model.PageCount

@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, odernacao = ViewBag.OrdenacaoAtual }))
